#background {
    width: 1280px;
    height: 720px;
    background-image: url('element_pictures/Mountain PNG Clip Art Image.png');
    position: absolute;
}

#player1 {
    width: 150px;
    height: 132px;
    background-image: url('element_pictures/player1monkeyy.png');
    position: absolute; 
    left: 30px;
    top: 400px;
}

.enemy {
    width: 150px;
    height: 99px;
    background-image: url('element_pictures/monster1.png');
    position: absolute;
    
}

#missiles {
    width: 1280px;
    height: 720px;
    position: absolute;
}

.missile1 {
    width: 80px;
    height: 80px;
    background-image: url('element_pictures/player_projectile.png');
    position: absolute;
} 

#enemies {
    width: 1280px;
    height: 720px;
    position: absolute;
} 

